section article {
    padding: 20px;
    border: 1px solid #bbb;
}

/* 
// BOOTSTRAP DOES SOMETHING LIKE THIS, FOR EVERY SINGLE STYLE PROPERTY X_X
// THERE ARE THOUSANDS. USE THE DOC PAGE ON THEIR SITE TO SEE WHAT YOU CAN ADD TO YOUR HTML (CLASSES, ID'S, ETC) 
.mt-5 {
    margin-top: 4rem;
} 
    */